<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}" />
</head>
<body>
    <div class="container">
        <h1>Login</h1>
        <form th:action="@{/login}" method="post">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required="required" />
            <br />
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required="required" />
            <br />
            <input type="submit" value="Login" />
        </form>
    </div>
</body>
</html>
